  <!DOCTYPE html>
<html ng-app="MarvelDevChallenge">
<head>
<meta charset="ISO-8859-1">
<title>Marvel Dev Challenge</title>
<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1"
	rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
 <link rel="stylesheet" href="style.css" />
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
<script data-require="bootstrap@*" data-semver="3.1.1"
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script language="JavaScript" src="js/md5.js"></script>


</head>
<body ng-controller="MainCtrl">
	<h4>Search for your Marvel Characters</h4>
	<input type="text" ng-model="asyncSelected"
		placeholder="Search for you character"
		typeahead="characters for characters in getCharacters($viewValue)"
		typeahead-loading="loadingCharacters"
		typeahead-on-select="selectCharacter($item);asyncSelected=''"
		class="form-control">
	<i ng-show="loadingCharacters" class="glyphicon glyphicon-refresh"></i>

	<div ng-if="showCharInfo">
		<!-- <div ng-if="char.thumb" class="thumbnail">
			<img src="{{char.thumb}}" />
		</div>
		 -->
		<div class="charName">
			<b>{{char.name}}</b>
		</div>
		<div class="charDesc">{{char.desc}}</div>
	</div>
</body>
</html>